
.div1header{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.categorie{
    font-family: 'Texturina', serif;
    font-size: 20px;
}
.div2header{
    background-color: rgb(182, 212, 52);
    padding: 10px 0;
}
.contact{
    font-family: 'Texturina', serif;
    font-size: 20px;
}